{% extends 'core/base.html' %}

{% block titulo %}Registrar Comercios{% endblock %}

{% block contenido %}

{% load static %}

<section class="container mt-2">
    <div class="row">
        <h2 class="text-center">Registro de Comercio</h2>
        <form action="" method="post" class="row" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Categoria</label>
                {{ form.non_field_errors }}
                {{ form.categoria }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Nombre de tu Comercio</label>
                {{ form.non_field_errors }}
                {{ form.nombre_comercio }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Direccion</label>
                {{ form.non_field_errors }}
                {{ form.direccion }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Teléfono</label>
                {{ form.non_field_errors }}
                {{ form.telefono }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Correo Electrónico</label>
                {{ form.non_field_errors }}
                {{ form.email }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="">Imagen</label>
                {{ form.non_field_errors }}
                {{ form.imagen }}
            </div>
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <button class="btn btn-danger mt-3 mb-2" type="reset">Cancelar</button>
                    <button type="submit" class="btn btn-success mt-3 mb-2">Registrar Comercio</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}