
{% extends 'core/base.html' %}

{% block titulo %}Registrar Comercios{% endblock %}

{% block contenido %}

{% load static %}

<section class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <img src="{% static 'media/img/logo2.png' %}" alt="" class="img-fluid" style="width: 180px; height: 180px;">
        </div>
    <div class="row">
        <!-- Manejo de errores del formulario:  -->
        <div id="error-alert" class="alert alert-danger" style="display: none;">
            <ul id="error-list"></ul>
        </div>

        <h2 class="text-center text-dark mt-3 mb-4" style="font-weight: bold; letter-spacing: 1px;">Registro de Comercio</h2>
        <form action="" method="post" class="row" enctype="multipart/form-data" id="registro-form">
            {% csrf_token %}
            <div class="col-md-6 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Categoria</label>
                {{ form.non_field_errors }}
                {{ form.categoria }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Nombre de tu Comercio</label>
                {{ form.non_field_errors }}
                {{ form.nombre_comercio }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Dirección</label>
                {{ form.non_field_errors }}
                {{ form.direccion }}
            </div>
            <div class="col-md-6 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Ubicanos en el Mapa</label>
                {{ form.non_field_errors }}
                {{ form.mapa }}
            </div>
            <div class="col-md-4 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Teléfono</label>
                {{ form.non_field_errors }}
                {{ form.telefono }}
            </div>
            <div class="col-md-4 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Correo Electrónico</label>
                {{ form.non_field_errors }}
                {{ form.email }}
            </div>
            <div class="col-md-4 mt-3 mb-2">
                <label for="" class="form-label text-dark" style="font-weight: bold;">Imagen</label>
                {{ form.non_field_errors }}
                {{ form.imagen }}
            </div>
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <button class="btn btn-danger mt-3 mb-2" type="reset">Cancelar</button>
                    <button type="submit" class="btn btn-success mt-3 mb-2">Registrar Comercio</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}