{% extends 'core/base.html' %}

{% load static %}

{% block titulo %}Sabaneta 360°{% endblock %}

{% block contenido %}

  {% load static %}
    <section class="container mt-4">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'media/img/1.jpeg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>¿Qué comerás hoy?</h1>
              <p>Encuentra todos los restaurantes y "comederos" de Sabaneta en un solo lugar!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'media/img/2.jpeg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Sabaneta 360</h1>
              <p class="banner-text" 
            >Sabaneta en un solo lugar</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'media/img/4.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Registrate</h1>
              <p class="text-dark">Registra tu negocio y sé visible para toda la comunidad</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        
        <div class="container my-4">
          <div class="row">
              <div class="col-4 mb-5"> 
                  <div class="card">
                      <img src="{% static 'media/img/restaurant.jpeg' %}" alt="restaurant" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Restaurantes</h5>
                          <p class="text">Descubre los mejores sabores de Sabaneta en nuestro directorio gastronómico. Desde acogedores cafés hasta restaurantes de alta cocina, aquí encontrarás una diversidad culinaria que hará vibrar tu paladar. ¡Explora opciones deliciosas y apoya el talento local!</p>
                          <a href="{% url 'restaurantes' %}" class="btn btn-success">Saber más</a> 
                      </div>
                  </div>    
              </div>
              <div class="col-4 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/pharmacy.jpg' %}" alt="Farmacias" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Farmacias</h5>
                          <p class="text">Tu bienestar es nuestra prioridad. En esta categoría reunimos centros médicos, clínicas, farmacias y especialistas que te ayudarán a cuidar tu salud física y mental. Encuentra fácilmente los servicios que necesitas para mantenerte saludable y lleno de energía.</p>
                          <a href="{% url 'Salud' %}" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
              <div class="col-4 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/moda.jpeg' %}" alt="Tiendas de ropa" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Tiendas de ropa</h5>
                          <p class="text">Expresa tu estilo con las tiendas y boutiques de moda que encontrarás en nuestro directorio. <br> <br> Ya sea que busques ropa casual, accesorios o la última tendencia, aquí tienes todo lo necesario para que tu look siempre refleje tu esencia.</p>
                          <a href="" class="btn btn-success">Saber más</a>
                      </div>
                  </div>      
              </div>
              <div class="col-6 mb-5">
                  <div class="card">
                    <img src="{% static 'media/img/beauty-2.jpg' %}" alt="Belleza" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Belleza</h5>
                          <p class="text">Resalta lo mejor de ti con los expertos en estética y cuidado personal de Sabaneta. Salones de belleza, barberías, spas y centros de bienestar se unen aquí para ofrecerte tratamientos de calidad que te harán sentir y lucir increíble.</p>
                          <a href="{% url 'Belleza' %}" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
              <div class="col-6 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/cine.jpg' %}" alt="Entretenimiento" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Entretenimiento</h5>
                          <p class="text">Vive momentos inolvidables con las opciones de entretenimiento que Sabaneta tiene para ofrecerte. Desde cines y teatros hasta parques y eventos culturales, esta categoría es tu puerta de entrada a la diversión para toda la familia.</p>
                          <a href="{% url 'Entretenimiento' %}" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
          </div>
      </div>
    </div>
  
  </section>
{% endblock %}
    