{% extends 'core/base.html' %}

{% load static %}

{% block titulo %}Sabaneta 360°{% endblock %}

{% block contenido %}

  {% load static %}
    <section class="container mt-4">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'media/img/1.jpeg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'media/img/2.jpeg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'media/img/4.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        
        <div class="container my-4">
          <div class="row">
              <div class="col-4 mb-5"> 
                  <div class="card">
                      <img src="{% static 'media/img/restaurant.jpeg' %}" alt="restaurant" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Restaurantes</h5>
                          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non repudiandae maxime vel error itaque quidem dolorum impedit ex explicabo consequatur eius amet eaque tempora quo, ullam laudantium velit consectetur!</p>
                          <a href="#" class="btn btn-success">Saber más</a> 
                      </div>
                  </div>    
              </div>
              <div class="col-4 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/pharmacy.jpg' %}" alt="Farmacias" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Farmacias</h5>
                          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non repudiandae maxime vel error itaque quidem dolorum impedit ex explicabo consequatur eius amet eaque tempora quo, ullam laudantium velit consectetur!</p>
                          <a href="#" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
              <div class="col-4 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/moda.jpeg' %}" alt="Tiendas de ropa" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Tiendas de ropa</h5>
                          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non repudiandae maxime vel error itaque quidem dolorum impedit ex explicabo consequatur eius amet eaque tempora quo, ullam laudantium velit consectetur!</p>
                          <a href="#" class="btn btn-success">Saber más</a>
                      </div>
                  </div>      
              </div>
              <div class="col-6 mb-5">
                  <div class="card">
                    <img src="{% static 'media/img/beauty-2.jpg' %}" alt="Belleza" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Belleza</h5>
                          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non repudiandae maxime vel error itaque quidem dolorum impedit ex explicabo consequatur eius amet eaque tempora quo, ullam laudantium velit consectetur!</p>
                          <a href="{% static 'belleza.html' %}" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
              <div class="col-6 mb-5">
                  <div class="card">
                      <img src="{% static 'media/img/cine.jpg' %}" alt="Entretenimiento" class="card-img-top">
                      <div class="card-body">
                          <h5 class="card-title">Entretenimiento</h5>
                          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate non repudiandae maxime vel error itaque quidem dolorum impedit ex explicabo consequatur eius amet eaque tempora quo, ullam laudantium velit consectetur!</p>
                          <a href="#" class="btn btn-success">Saber más</a>
                      </div>
                  </div>     
              </div>
          </div>
      </div>
    </div>
  
  </section>
{% endblock %}
    