<header>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"
            ><img
              src="{% static 'img/logo.png' %}"
              class="d-flex mx-3 w-50"
              style="width: 50px; height: 50px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto p-1 mx-5">
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle text-light"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Categorías
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Restaurantes</a></li>
                  <li><a class="dropdown-item" href="#">Salud</a></li>
                  <li><a class="dropdown-item" href="#">Belleza</a></li>
                  <li><a class="dropdown-item" href="#">Entretenimiento</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="#">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light" href="formulario.html">Registre su negocio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>      
</header>