<header>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #07852e;">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"
            ><img
              src="{% static 'media/img/logo2.png' %}"
              class="d-flex mx-3"
              style="width: 80px; height: 80px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto p-1 mx-5">
              <li class="nav-item me-3">
                <a class="nav-link active text-light" aria-current="page" href="{% url 'comercios' %}">Directorio Comercial</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link active dropdown-toggle text-light"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Categorías
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'restaurantes' %}">Restaurantes</a></li>
                  <li><a class="dropdown-item" href="{% url 'Salud' %}">Salud</a></li>
                  <li><a class="dropdown-item" href="{% url 'Belleza' %}">Belleza</a></li>
                  <li><a class="dropdown-item" href="{% url 'Entretenimiento' %}">Entretenimiento</a></li>
                  <li><a class="dropdown-item" href="{% url 'Moda' %}">Moda</a></li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="#">Contacto</a>
              </li> -->
              <li class="nav-item me-3">
                <a class="nav-link active text-light" href="{% url 'nosotros' %}">Nosotros</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active text-light" href="{% url 'acerca' %}">Acerca de</a>
              </li>
              <li class="nav-item me-3">
                <a class="btn btn-primary text-light" style="background-color: #e47310;" href="{% url 'registro_comercio' %}">Registre su negocio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>      
</header>